.hero-unit
  %h1 You did it
  %p You now have
  %ul
    %li{"ng-repeat"=>"thing in awesomeThings"}
      %i.fa.fa-anchor
      {{thing}}
  %p installed. All with live reload and stuff...
  %h3 Enjoy coding! - Wohoo
